@use "sass:map";

$text-color-black: #222222;
$text-color-white: #FFFFFF;

$main-color: #382620;
$base-color-dark: #EAE0D5;
$base-color-light: #F3EFEB;
$accent-color: #F07317;
$disable-button-color: #888888;

$font-family-jp: "Noto Sans JP", serif;
$font-family-en1: "Amatic SC", serif;
$font-family-en2: "Patua One", serif;
$font-family-en3: "Damion", serif;